/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────────╮ 30  31 │ │ 32  33 ╭───────────╯
			  ╰────────╯ ╰────────╯            

*/
	  
compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
  };
  
#define COMBOL(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };  


//Thumbs
COMBO(combo_enter, ZMKL ENTER, 30 24)
COMBO(combo_esc, ZMKL ESC, 25 33)


//Left-hand combos
COMBO(combo_lbrace, &brc_t 0 LEFT_BRACE, 1 11)
COMBO(combo_lbracket, &brk_t 0 LEFT_BRACKET, 2 12)
COMBO(combo_lparen, &prn_t 0 LPAR, 3 13)
COMBO(combo_lt, &ltgt_t 0 LT, 12 22)
COMBO(combo_slash, &kp SLASH, 13 23)


//Right-hand combos
COMBO(combo_rbrace, &kp RIGHT_BRACE, 8 18)
COMBO(combo_rbracket, &kp RIGHT_BRACKET, 7 17)
COMBO(combo_rparen, &kp RIGHT_PARENTHESIS, 6 16)
COMBO(combo_gt, &kp GREATER_THAN, 17 27)
COMBO(combo_bslash, &kp BACKSLASH, 16 26)
COMBO(combo_semi, &mt COLON SEMI, 27 28)